<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<style>
html, body, #app {
  height: 100%;
}
body {
  background: #20262E;
  margin: 0;
}
#app {
  display: flex;
  transition: all 0.2s;
}
textarea {
  width: 92%;
  height: 92%;
  border: none;
  border-radius: .1rem;
  box-shadow: .1rem .1rem .5rem rgba(0,0,0,.1);
  resize: none;
  padding: .25rem .5rem;
  margin: auto;
}
.col {
  display: inline-flex;
  width: 50%;
}
</style>
<body>
  <div id="app">
    <div class="col">
      <textarea placeholder="paste some code" v-model="input"></textarea>
    </div>
    <div class="col">
      <textarea v-model="output"></textarea>
    </div>
  </div>
  <script>
new Vue({
  el: "#app",
  data: {
    input: "",
    patterns: [
      {pattern: "(a)sd(f)", output: "$1**$2"},
      {pattern: "(movel)\\s*(\\S+)\\s+(\\S+)", output: "$3 = $2 + substr($3,0,0)"},
      {pattern: "(move)\\s*(\\S+)\\s+(\\S+)", output: "$3 = $2"},
      {pattern: "(z-add)\\s*(\\S+)\\s+(\\S+)", output: "$3 = $2"},
      {pattern: "(add)\\s*(\\S+)\\s+(\\S+)", output: "$3 += $2"},
      {pattern: "([*]blanks)", output: "\'\'"},
      {pattern: "([*]zeros)", output: "0"},
    ]
  },
  computed: {
  	output: function(){
      let converted = this.input;
      this.patterns.forEach(function(item){
        let rex = new RegExp(item.pattern, 'gi');
        console.log(rex);
      	converted = converted.replace(rex, item.output)
      });
      return converted;
    }
  },
  methods: {
    convert: function(a){
      let converted = this.input;
      this.patterns.forEach(function(item){
        let rex = new RegExp(item.pattern, 'gi');
        console.log(rex);
      	converted = converted.replace(rex, item.output)
      });
      this.results = converted;
    }
  }
})
  </script>
</body>
</html>
